.monaco-workbench.windows.chromium {
  top: -30px !important;
  height: calc(100vh + 30px) !important;
}

.editor-actions {
  display: none !important;
}

.window-controls-container {
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  z-index: 99999 !important;
  height: 2vh !important;
}

.monaco-workbench .part.titlebar>.titlebar-container>.window-controls-container>.window-icon {
  font-size: 1vh !important;
  width: 2.5vh !important;
  line-height: 2vh !important;
}

.window-appicon {
  display: none !important;
}

.auxiliarybar>.composite.title>.global-actions>.monaco-toolbar {
  display: none !important;
}

.activitybar>content {
  height: calc(100vh + 30px) !important;
}

.sidebar>content {
  height: calc(100vh + 30px) !important;
}

.editor>content {
  height: calc(100vh + 30px) !important;
}

.auxiliarybar>content {
  height: calc(100vh + 30px) !important;
}

.monaco-grid-view>.monaco-grid-branch-node>.monaco-split-view2>.monaco-scrollable-element>.split-view-container>.split-view-view.visible:nth-child(3) {
  height: 100vh !important;
}

.split-view-view.visible>.monaco-grid-branch-node>.monaco-split-view2>.monaco-scrollable-element>.split-view-container>.split-view-view.visible:nth-child(1) {
  height: 100vh !important;
}

.editor-container {
  height: 100% !important;
}

.monaco-editor {
  height: 100% !important;
}

.overflow-guard {
  height: 100% !important;
}

.editor-scrollable {
  height: 100% !important;
}
